.carousel-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 50vw;
  padding: 2rem;
  background-color: var(--color-surface-alt);
  color: var(--color-text-primary);
  border: 0px solid var(--color-border);
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.message {
  display: flex;
  align-items: center;
  font-size: 1.5rem;}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.course-thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.course-block {
  display: flex;
  flex-direction: column;
  align-items: left;
  cursor: pointer;
  width: 10rem;
  height: 15rem;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  margin: 1rem;
}

.course-title {
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.course-author {
  margin: 0 1rem;
  font-size: .8rem;
}
