.text-window {
  margin: 2rem 0 2rem 4rem;
  max-width: 50%;
  min-height: 40%;
  padding: 0.75rem;
  overflow: auto;
  border: 1px solid var(--color-border);
  background: var(--color-surface-alt);
  border-radius: 20px;
  font-family: 'New Athena Unicode', serif;
  font-size: 1.5rem;
}

.parsing-window {
  margin: 2rem;
  width: 30%;
  min-height: 40%;
  padding: 0.75rem;
  overflow: auto;
  word-wrap: break-word;
  border: 1px solid var(--color-border);
  background: var(--color-surface-alt);
  color: var(--color-text-primary);
  border-radius: 20px;
  font-size: 1.5rem;
}

.greek-text {
  font-family: 'New Athena Unicode', serif;
  font-size: 1.5rem;
}

.word {
  display: inline-block;
  /* margin: 0.25rem 2px; */
  margin: 0.25rem 0.20rem;
  color: var(--color-text-primary);
  padding: 2px 2px;
  /*border-radius: 4px; */
  /* background: var(--clr-mortar); */
  /* border-radius: 3px; */
}

.word:hover {
  border-radius: 3px;
  /* padding: 0 0; */
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  cursor: pointer;
}

.audio-controls-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.audio-range {
  width: 50%;
  margin: 0.5rem 0;
}

.audio-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  border-radius: 50%;
  background-color: var(--color-button-primary);
  color: var(--color-text-primary);
  border: none;
  padding: 0;
  margin: 1rem;
  cursor: pointer;
}



input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: var(--color-accent);
  border-radius: 5px;
  outline: none;
}

/* Webkit (Chrome, Safari) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
  /* border: 2px solid #fff; */
  margin-top: -5px; /* aligns thumb with track */
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--color-accent);
  height: 6px;
  border-radius: 5px;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: var(--color-accent);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  background: var(--color-accent);
  height: 6px;
  border-radius: 5px;
}

/* Edge/IE */
input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  background: var(--color-accent);
  border-radius: 50%;
  border: none;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.audio-icon {
  color: var(--color-text-primary);
}

.time {
  color: var(--color-text-primary);
  margin: 0.25rem;
}
